---
layout: default
services:
- name: Animalier
  class: section-animalier
  items:
  - poneys shetlands, falabella
  - Anes micro miniatures américains
  - Chèvres toys, moutons ouessant
  - Volailles naines
  - Cochons
  - vaches micro miniatures dexter, highland casttle
  - Abeilles
  - Alpagas
- name: Culturel
  class: section-culturel
  items:
  - Jardin thérapeutique
  - Bibliothèque
  - Formations pédagogiques
  - Concerts
  - Animations été enfants
  - Accueil personnes dépendantes temporaire
  - Animation musicales
  - Musicothérapie /relaxation
- name: Restauration
  class: section-restauration
  items:
  - Boissons fraiches
  - Boissons chaudes
  - Salon de thé
  - Coin toilettes
  - Soirées animées repas unique weekend (soir)
  - Salades en été
  - Patrimoine culinaire franc-comtois
- name: Produits fermiers
  class: section-ferme
  items:
  - Miel
  - Confitures et sirop
  - Produits fermiers
  - Poulets rotis
  - Ventes d’animaux vivants suite à reproduction
- name: Jeux
  class: section-jeux
  items:
  - Tyrolienne
  - Jeux extérieurs
  - Jeux société géants
  - Appareils motricité personnes âgées
  - Minigolf
  - Espace détente

---
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <img alt='{{site.data.contact.logo.name}}' src='{{site.data.contact.logo.url}}' class="img-responsive">
      <p><a href="https://www.facebook.com/ecofermedesflonflons/" class="btn btn-lg title-button"><i class="fa fa-facebook-square"></i> Rejoignez-nous sur Facebook</a></p>
    </div>
  </div>
  <div class="spacer-40"></div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center color-orange">Le projet - les enjeux</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <p>Ouvrir sur le canton de Baume les Dames une ferme de loisirs et d’accompagnement où les activités agricoles et la musique sont les principaux vecteurs d’animations.</p>
      <p>La ferme répondra à une demande sociétale de commercialisation en vente directe du producteur au consommateur. Elle contribuera au développement économique du territoire en favorisant la consommation de produits locaux.</p>
      <p>Elle offrira un support pédagogique innovant.</p>
    </div>
    <div class="col-md-2 text-center">
      <img alt='{{site.data.contact.photo.name}}' src='{{site.data.contact.photo.url}}' class="img-circle img-responsive">
    </div>
  </div>
  <div class="spacer-40"></div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center color-orange">Nos activités</h2>
    </div>
  </div>
  <div class="spacer-40"></div>


  {% for service in page.services %}
      {% cycle 'add row' : '<div class="row">', nil, nil %}
          <div class="col-md-4 col-xs-6">
            <div class="services {{service.class}}">
              <h3 class="text-center">{{service.name}}</h3>
              <ul>
              {% for item in service.items %}
                <li>{{item}}</li>
              {% endfor %}
              </ul>
              <p class="text-center">{{service.description}}</p>
            </div>
          </div>
      {% cycle 'end row' : nil, nil, '</div>' %}
  {% endfor %}
  {% cycle 'end row' : nil, '</div>', '</div>' %}
</div>