/* == General */

.text-justify {
  -moz-hyphens: auto;
  text-align: justify;
  word-wrap: break-word;
}

.spacer-20 {
  margin-top: 20px;
}

.spacer-40 {
  margin-top: 40px;
}

.spacer-80 {
  margin-top: 80px;
}

.debug {
  border: solid 1px red;
}


/* == Colors */

.color-orange {
  color: #d34817;
}


/* == Sections */

.footer {
  background-color: #2e3436;
  color: #eeeeec;
  margin-top : 2em;
  padding-bottom : 2em;
  padding-top : 2em;
}

.footer h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.footer i {
  background-color: #666666;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer a {
  color: #eeeeec;
}

.circled-icon i {
  background-color: #eeeeec;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 2px;
  vertical-align: middle;
}

.circled-icon a {
  color: inherit;
  text-decoration: none;
}

.title-section {
  background-color: #d34817;
  color: white;
}

.title-button:hover {
    color: #ab3108;
    background: #ff926d;
}

.title-button {
    color: #d34817;
    background: white;
    border-color: #d34817;
}


.services {
  margin: 10px;
  padding: 1em;
  border-radius: 6px;
  height: 300px;
}

.section-animalier {
  background-color: #9b2d1f;
  color: white;
}

.section-culturel {
  background-color: #993d1e;
  color: white;
}

.section-restauration {
  background-color: #dd6555;
  color: white;
}

.section-ferme {
  background-color: #a4653f;
  color: white;
}

.section-jeux {
  background-color: #d34817;
  color: white;
}
